h1 {
    font-weight: bold;
    margin: 8px;
}

h2 {
    font-weight: bold;
    margin: 8px;
}

#solucao {
    display: flex;
    flex-direction: column;
}

.editor {
    flex: 1;
}

.resultado {
    padding: 8px;
    display: flex;
    justify-content: space-around;
    height: 3em;
}

.sucesso {
    background-color: green;
}

.falha {
    background-color: red;
}
